---
import Wrapper from '@components/Wraper.astro'
import HeaderBlog from '@layouts/blog/Header'
import getPropsBlogs from '@utils/getPropsBlogs'
import type { astro } from '@Mytypes/blogProps'

export async function getStaticPaths() {
  let posts = await Astro.glob('../../posts/blog/**/*.md')
  return getPropsBlogs(posts)
}
const { TITLE, Content, slug, DESCRIPTION, AUTHOR, DATE, TAGS } =
  Astro.props as astro
const SEO = {
  TITLE: TITLE,
  LINK: `/notes/${slug}`,
  IMG: '',
  DESCRIPTION: TITLE + DESCRIPTION,
}
---

<Wrapper SEO={SEO}>
  <article>
    <HeaderBlog TITLE={TITLE} slug={slug} AUTHOR={AUTHOR} DATE={DATE} />
    <div class='w-[90%] text-sm breadcrumbs m-5'>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href={`/blog/${slug}`}>{TITLE}</a></li>
        {
          TAGS.map((name) => {
            return (
              <li>
                <a href={`/tags/${name}`}>{name}</a>
              </li>
            )
          })
        }
      </ul>
    </div>
    <div class='prose m-5'>
      <Content />
    </div>
    <!-- tags -->
    <div>
      {
        TAGS.map((name) => {
          return <a class='btn m-3'>{name}</a>
        })
      }
    </div>
  </article>
</Wrapper>
