---
import Wrapper from '@components/Wraper.astro'
import Breadcrumbs from '@components/content/Breadcrumbs'
import Tags from '@components/content/Tags'
import HeaderBlog from '@layouts/blog/Header'
import getPropsBlogs from '@utils/getPropsBlogs'
import type { Astro } from '@Mytypes/blogProps'

export async function getStaticPaths() {
  let GET_POST_LIST = await Astro.glob('../../posts/blog/**/*.md')
  return getPropsBlogs(GET_POST_LIST)
}
const { TITLE, Content, SLUG, DESCRIPTION, AUTHOR, DATE, TAGS } =
  Astro.props as Astro
const SEO_PROPS = {
  TITLE: TITLE,
  LINK: `/blog/${SLUG}`,
  IMG: '',
  DESCRIPTION: TITLE + DESCRIPTION,
}
const BREADCRUMBS_PROPS = { TITLE, SLUG: SLUG, TAGS }
---

<Wrapper SEO={SEO_PROPS}>
  <article>
    <HeaderBlog TITLE={TITLE} SLUG={SLUG} AUTHOR={AUTHOR} DATE={DATE} />
    <Breadcrumbs INFO={BREADCRUMBS_PROPS} />
    <div class='prose m-5'>
      <Content />
    </div>
    <Tags TAGS={TAGS}/>
  </article>
</Wrapper>
