---
import Wrapper from '@components/Wraper.astro'
import Breadcrumbs from '@components/content/Breadcrumbs'
import Tags from '@components/content/Tags'
import HeaderBlog from '@layouts/blog/Header'
import getPropsBlogs from '@utils/getPropsBlogs'
import type { astro } from '@Mytypes/blogProps'

export async function getStaticPaths() {
  let posts = await Astro.glob('../../posts/blog/**/*.md')
  return getPropsBlogs(posts)
}
const { TITLE, Content, slug, DESCRIPTION, AUTHOR, DATE, TAGS } =
  Astro.props as astro
const SEO = {
  TITLE: TITLE,
  LINK: `/blog/${slug}`,
  IMG: '',
  DESCRIPTION: TITLE + DESCRIPTION,
}
const BREADCRUMBS_PROPS = { TITLE, SLUG: slug, TAGS }
---

<Wrapper SEO={SEO}>
  <article>
    <HeaderBlog TITLE={TITLE} slug={slug} AUTHOR={AUTHOR} DATE={DATE} />
    <Breadcrumbs info={BREADCRUMBS_PROPS} />
    <div class='prose m-5'>
      <Content />
    </div>
    <Tags TAGS={TAGS}/>
  </article>
</Wrapper>
