---
const { TITLE, LINK, IMG, DATE_CONTENT, PAGENATION } = Astro.props
const SITE_NAME = ''
const SITE_TITLE = `${SITE_NAME} | ${TITLE}`
const USERNAME = '@alifprihantoro'
const DESCRIPTION = TITLE
const SITE_IMG = ''
const TWITTER_LINK = `https://twitter.com/${USERNAME}`
const DATE = ''
---

<html lang='en'>
  <head>
    <title itemprop='name'>{SITE_TITLE}</title>

    <meta property='og:title' content={SITE_TITLE} />
    <meta name='twitter:title' content={SITE_TITLE} />
    <meta itemprop='name' content={SITE_TITLE} />
    <meta name='application-name' content={SITE_TITLE} />
    <meta property='og:site_name' content={SITE_TITLE} />
    <!--- Description tag --->
    <meta name='description' content={DESCRIPTION} />
    <meta itemprop='description' content={DESCRIPTION} />
    <meta property='og:description' content={DESCRIPTION} />
    <meta name='twitter:description' content={DESCRIPTION} />
    <!--- link tag --->
    <base href={LINK} />
    <link rel='canonical' href={LINK} itemprop='url' />
    <meta name='url' content={LINK} />
    <meta name='twitter:url' content={LINK} />
    <meta property='og:url' content={LINK} />
    <!--- img tag --->
    {
      IMG !== undefined ? (
        <>
          <meta name='twitter:card' content={DESCRIPTION} />
          <meta name='twitter:site' content={USERNAME} />
          <meta name='twitter:title' content={TITLE} />
          <meta name='twitter:description' content={`view :${TITLE}`} />
          <meta name='twitter:image' content={IMG} />
        </>
      ) : (
        <>
          <meta itemprop='image' content={SITE_IMG} />
          <meta property='og:image' content={SITE_IMG} />
          <meta name='twitter:image' content={SITE_IMG} />
          <meta name='twitter:image:src' content={SITE_IMG} />
        </>
      )
    }
    <meta property='og:type' content='article' />
    <meta property='article:publisher' content={DATE_CONTENT} />
    <meta property='og:article:published_time' content={DATE_CONTENT} />
    <meta property='article:published_time' content={DATE_CONTENT} />
    <meta property='og:updated_time' content={DATE} />
    <meta name='robots' content='index,follow' />
    <meta name='googlebot' content='index,follow' />
    <meta name='twitter:site' content={TWITTER_LINK} />
    <meta name='twitter:creator' content={TWITTER_LINK} />
    <meta name='keywords' content={`${DESCRIPTION},${TITLE}`} />
    <meta name='imagemode' content='force' />
    <meta name='coverage' content='Worldwide' />
    <meta name='distribution' content='Global' />
    <meta name='HandheldFriendly' content='True' />
    <meta name='msapplication-tap-highlight' content='no' />
    <meta name='apple-mobile-web-app-title' content={SITE_NAME} />
    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta
      name='apple-mobile-web-app-status-bar-style'
      content='black-translucent'
    />
    <meta name='apple-touch-fullscreen' content='yes' />
    {
      PAGENATION !== undefined && (
        <>
          <link rel='first' href={PAGENATION.firts} />
          <link rel='last' href={PAGENATION.last} />
          {PAGENATION.prev !== undefined && (
            <link rel='prev' href={PAGENATION.prev} />
          )}
          {PAGENATION.next !== undefined && (
            <link rel='prev' href={PAGENATION.next} />
          )}
        </>
      )
    }
  </head>
  <body> <slot /></body>
</html>
